@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


body {
  background-color: #FFFEF2;
}

.subtitle {
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  margin-bottom: 24px;
}

.title {
  color: #333;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.9px;
  margin-bottom: 27px;
}

.btn {
  padding: 20px 59px 20px 24px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  display: inline-block;
  color: #333333;
  background-repeat: no-repeat;
  background-position: 90% center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  max-width: 300px;
  width: 100%;
}

.header {
  &__top {
    text-align: center;
  }

  &__top-text {
    padding: 10px 5px;
    color: #FFFEF2;
    line-height: 150%;
  }

  &__top-text--orange {
    background-color: #A6672B;
  }

  &__top-span:not(:last-child) {
    margin-right: 10px;
  }

  &__top-text--grey {
    background-color: #252525;
  }

  &__bottom {
    background-image: url('../images/header/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 72vh;
    min-height: 670px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 18px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
  }



  &__menu-item:not(:last-child) {
    margin-right: 25px;
  }

  &__menu-link {
    color: #FFFEF2;
  }

  &__logo {
    margin-right: 40px;
  }

  &__link {
    display: inline-block;
    color: #FFFEF2
  }

  &__link:not(:last-child) {
    margin-right: 30px;
  }

  &__content {
    max-width: 402px;
    padding-top: 120px;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #FFFEF2;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFEF2;
  }
}

.hero {
  background-color: #000000;

  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__img {
    object-fit: cover;
  }

  &__content {
    max-width: 720px;
    width: 100%;
    min-width: 320px;
    background-color: #CFC7C0;
    padding: 40px 40px 0 0;
    background-image: url('../images/hero/2.jpg');
    background-repeat: no-repeat;
    background-position: 40px 50%;
  }

  &__content-wrapper {
    text-align: right;
    margin-bottom: 106px;
  }

  &__content-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 3px;
  }

  &__content-box {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
  }

  &__content-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 20px;
  }

  &__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  &__content-text:not(:last-child) {
    margin-bottom: 20px;
  }

  &__content-btn {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid transparent;
  }

  &__content-btn:not(:last-child) {
    margin-bottom: 20px;
  }

  &__content-btn--dark {
    background-color: #333333;
    color: #F6F5E8;
  }

  &__content-btn--light {
    color: #333333;
    border: 1px solid rgba(51, 51, 51, 0.2);
    background-image: url('../images/icons/btn-arrow.svg');
    background-repeat: no-repeat;
    background-position: 94% 21px;

  }
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  background: none;
  padding: 0;
  border: none;
  position: relative;

  &__span {
    height: 2px;
    width: 40px;
    background-color: #fff;
    display: block;
  }

  &__span::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
  }

  &__span::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
  }
}

.slider {
  padding-top: 200px;
  padding-bottom: 190px;
  margin: 0 auto;

  &__container {
    max-width: 1281px;
    margin: 0 auto;
  }

  &__item {
    max-width: 427px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 48px;
    cursor: pointer;
    transition: border-bottom .4s;
  }

  &__item:hover {
    border-bottom: 2px solid #000000;
  }

  &__description {
    text-align: center;
    line-height: 24px;
    color: #333333;
  }

  span {
    display: block;
    margin-top: 10px;
  }
}

.product {
  color: #333;
  padding-bottom: 96px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 402px;
  }

  &__title {
    max-width: 361px;
  }

  &__text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;
    margin-bottom: 26px;
  }

  &__btn {
    background-image: url('../images/icons/btn-arrow.svg');
    margin-bottom: 20px;
  }

  &__citate {
    padding-top: 202px;
    display: block;
    max-width: 675px;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.9px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  &__author {
    text-align: center;
  }


}

.footer {
  background-color: #252525;
  padding: 53px 0;
  color: #FFFEF2;

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  &__title {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 17px;
    border-bottom: 1px solid #FFFEF2;
    margin-bottom: 15px;
  }

  &__text {
    line-height: 35px;
  }

  &__link {
    color: #FFFEF2;
    line-height: 35px;
  }

  &__form {
    margin-bottom: 12px;
  }

  &__label {
    display: flex;
  }

  &__mail {
    height: 37px;
    border: 1px solid #FFFEF2;
    background-color: transparent;
    width: 100%;
    max-width: 490px;
    padding: 2px 10px;
  }

  &__mail::placeholder {
    color: #FFFEF2;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
  }

  &__form-btn {
    display: block;
    width: 37px;
    height: 37px;
    border: 1px solid #FFFEF2;
    border-left: none;
    background-color: transparent;
    background-image: url('../images/icons/btn-arrow-wh.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}


// --------------------------------------------------------------------------------------------------------------------------------------------

@media (max-width: 660px) {
  .header {
    &__menu-list {
      display: none;
    }

    &__menu-list--active {
      display: block;
      background-color: #333333;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
      padding: 20px 0;
    }

    &__menu-item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__menu-link {
      font-size: 36px;
      padding: 20px 0;
    }

    &__cart {
      display: none;
    }

  }

  .slider {
    &__item {
      max-width: 100%;
      width: 100%;
    }
  }

  .hidden {
    display: block;
  }

  .burger {
    display: block;
    z-index: 80;
  }

  .hero {
    &__content {
      background-image: none;
      padding: 40px;
    }
  }

  .footer {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 350px) {
  .footer {
    &__wrapper {
      display: block;
    }
  }
}  